<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <h2>Productos del carrito</h2>

    {{#each cartsInfo.products}}
      <li>
        <h3>{{product.title}}</h3>
        <p>{{product.description}}</p>
        <p>{{product.code}}</p>
        <p>${{product.price}}</p>
        <p>{{product.category}}</p>
        <p>{{quantity}}</p>
      </li>
    {{/each}}

  </body>
</html>